@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
}

.mapboxgl-map {
  width: 100%;
  height: 100%;
}

.map-container {
  height: 70vh;
  width: 100%;
}
